{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}{{ user.username }}{% endblock %}
{% block main_title %}Профиль{% endblock %}
{% block head %}
    <style>
        .grid-item {
            /*max-width: 400px;*/
            width: 400px;
            margin-left: 15px;
        }
    </style>
{% endblock %}
{% block content %}

    <div class="grid" style="word-wrap: break-word;">
        <div class="grid-item">
            <div class="card-panel z-depth-2 grey lighten-5">
                <p><b>Логин: </b>{{ current_user.username }}</p>
                <p><b>Последний вход: </b>{{ current_user.last_login }}</p>
                <p><b>Количество постов: </b>{{ post_count }}</p>
            </div>
        </div>

        {% for post in posts %}
            <a class="modal-trigger" style="color: black" href="#modal{{ post.id }}">
                <div class="grid-item">
                    <div class="card-panel z-depth-2">
                        <b><h5>{{ post.title }}</h5></b>
                    </div>
                </div>
            </a>
            <div id="modal{{ post.id }}" class="modal">
                <div class="modal-content">
                    <h4>{{ post.title }}</h4>
                    <p> Создано: {{ post.created_at }}</p>
                    <p> Автор: <a href="/profile/{{ post.author.id }}">{{ post.author }}</a></p>
                    <p>{{ post.content }}</p>
                </div>
                <div class="modal-footer">
                    {% if post.author == user %}
                        <a href="/edit_post/{{ post.id }}" class="modal-close waves-effect waves-green btn-flat">Редактировать</a>
                    {% endif %}
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Закрыть</a>
                </div>
            </div>
        {% endfor %}
    </div>
    <a class="btn-floating btn-large waves-effect waves-light black {% if pagination == 1 %} disabled {% endif %}"
       style="position: fixed; left: 10px; bottom: 10%; z-index: 1000" {% if max_pagination > 1 %}
       href="?pagination={{ pagination | add:-1 }}" {% endif %}>
        <i class="material-icons">navigate_before</i></a>
    <a class="btn-floating btn-large waves-effect waves-light black {% if pagination == max_pagination %} disabled {% endif %}"
       style="position: fixed; right: 10px; bottom: 10%; z-index: 1000" {% if pagination < max_pagination %}
       href="?pagination={{ pagination | add:1 }}" {% endif %}>
        <i class="material-icons">navigate_next</i></a>
    <script src="{% static "js/masonry.pkgd.min.js" %}"></script>
    <script>
        var elem = document.querySelector('.grid');
        var msnry = new Masonry(elem, {
            // options
            itemSelector: '.grid-item',
            //columnWidth: 400,
            gutter: 0,
        });


    </script>
{% endblock %}